.container {
    margin-right: auto;
    margin-left: auto;
}

/*navbar*/

.navbar{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand{
    font-weight: 700;
    font-size: 24px;
}

.sticky-top{
    top:20px
}

.feed{
    display: flex;
    justify-content: center;
}

.posts{
    width: 60%;
    margin-right: 20px;
}

.friends{
    width: 40%;
    height: 100px;
    margin-left: 20px;
}





.main-content{
    background-color: #E4F64A;
    border-radius: 50px;
}

.main-text{
    padding-top: 100px;
    margin-left: 20px;
    padding-left: 80px ;
    padding-right: 100px;
}


.card-img-top {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

#id_captcha_1 {
    display: block;
    width: 30%;
    padding: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-prepend {
    margin-right: 20px;
}

#id_captcha_1:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.captcha{
    width: 85px;
}

body {
    margin: 0;
    background-color: #fff;
}


.disp {
    display: none;
}

/*mainpic*/
.main {
    background-color: #E4F64A;
    margin: 50px 0px 150px 0px;
    display: flex;
    justify-content: center;
    height: 500px;
    border-radius: 50px;
}

.title {
    width: 50%;
    padding: 120px 80px 100px 60px;
    max-width: 600px;
    font-weight: bold;
}

.mainimage {
    width: 50%;
    padding: 70px 50px 70px 50px;
    max-width: 600px;
}

.button-reg {
    width: 300px;
    height: 50px;
    text-align: center;
}

.filter-container {
    display: flex;
    justify-content: space-between;
}

.filter {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25%;
    background-color: #ffffff;
    margin-right: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    height: 500px;
    list-style-type: none;
}

.filter h4 {
    margin-top: 10px;
    font-weight: bolder;
    text-align: center;
}

.filter h5 {
    margin: 10px 5px;
}

.filter li a {
    text-decoration: none;
    padding: 2px;
    margin: 5px
}

.books-list {
    width: 75%;
}


/*book details*/

.book-block {
    display: flex;
    justify-content: center;
    /*flex-flow: row wrap;*/

}

.book-pic {
    height: 500px;
    width: 40%;
}

.book-info {
    height: 500px;
    width: 60%;
    padding: 0 0 20px 0;
    text-align: left;

    /*background-color: red;*/
}

.book-picture {
    max-width: 600px;
    max-height: 600px;
    object-fit: cover;
}


/*adaptive*/
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

}

@media (max-width: 992px) {

    .filter {
        width: 50%;
    }

    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {

    .about-text {
        padding-top: 50px;
    }

    .main {
        flex-direction: column;
        height: auto;
        padding: 50px;
        margin: 20px 0;
        border-radius: 0;
    }

    .title {
        width: 100%;
        padding: 50px 30px;
        text-align: center;
        font-size: 30px;
        line-height: 1.3em;
    }

    .mainimage {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .button-reg {
        width: 250px;
        height: 40px;
        margin-top: 20px;
    }


    .filter-container {
        flex-direction: column;
        align-items: center;
    }

    .filter {
        width: 100%;
        margin-right: 0;
        height: auto;
    }

    .books-list {
        width: 100%;
    }

    .burger-menu {
        display: block;
    }

    .navbar-menu {
        display: none;
    }

    .callback {
        display: none;
    }

    .container {
        max-width: 540px;
    }
}



.chat-messenger {
    display: flex;
    justify-content: center;
}

.chat-info {
    width: 60%;
    margin-right: 20px;
}

.chat-box {
    width: 40%;
    height: 100px;
    margin-left: 20px;
}


.chat-box-received, .chat-box-sent {
    width: 200px;
    height: auto;
    font-size: 14px;
    background-color: slateblue;
    color: white;
    margin-left: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
}

.chat-box-sent {
    background-color: rebeccapurple;
    color: white;
    float: left;

}


.navbar .container #navbarSupportedContent{
    justify-content: space-between;
}
.pagination{
    justify-content: center;
}



