{% extends 'messenger/base.html' %}

{% block content %}

<div class="container">
  <div class="book-block">
    <div class="book-pic">
        {% if book.photo %}
        <img class="book-picture" src="{{book.photo.url}}"  alt="book_photo">
        {% endif %}
    </div>
    <div class="book-info">
        <h1>{{book.name}}</h1>
        <h2>{{book.author}}</h2>
        <p> {{book.description | linebreaks}}</p>
<!--        <p> {{book.genre.name}}</p>-->
        <h3>Рекомендуемая стоимость: {{book.price}} тг</h3>
    </div>
  </div>
</div>

{% endblock %}