

{%extends 'messenger/base.html' %}

{% block content%}
<!--<div class="container mt-5 col-6 mx-auto">-->
<!--    <form action="{% url 'uploadbook' %}" method="post" enctype="multipart/form-data">-->

<!--        {% csrf_token %}-->
<!--        <div>{{form.non_field_errors}}</div>-->

<!--        {% for f in form %}-->
<!--        <label for="{{ f.id_for_label }}">{{ f.label }}</label>-->
<!--        <p>{{ f }}</p>-->
<!--        <div>{{f.errors}}</div>-->
<!--        {% endfor %}-->

<!--        <button type="submit" class="btn btn-warning">Submit</button>-->
<!--    </form>-->
<!--</div>-->

<div class="container mt-5">
    <div class="row">
        <div class="col-6 mx-auto">
            <form action="/main/uploadbook/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mt-3">
                    <h3>Добавить новую книгу на сайт</h3>
                </div>
                <div class="mt-3">
                    <label>Название книги</label>
                    <input name="name" required type="text" class="form-control">
                </div>
                <div class="mt-3">
                    <label>Url</label>
                    <input name="slug" type="text" required class="form-control">
                </div>
                <div class="mt-3">
                    <label>Автор</label>
                    <select name="author" required class="form-control">
                        {% for a in author%}
                        <option value="{{ a.id }}" type="text"> {{a.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mt-3">
                    <label>Описание</label>
                    <input name="description" type="text" required class="form-control">
                </div>
                <div class="mt-3">
                    <label>Фото книги</label>
                    <div class="mt-3">
                        <input name="photo" type="file" required class="form-control">
                    </div>
                </div>
                <div class="mt-3">
                    <label>Жанр книги</label>
                    {% for g in genre %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="genre" value="{{ g.id }}"
                               id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{g.name}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-3">
                    <label>Цена на книгу</label>
                    <input name="price" type="number" required class="form-control">
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn" style="background: #E4F64A">Опубликовать</button>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}
