{% extends 'messenger/base.html' %}
{% block content %}
{% load static %}
{% load messenger_tags %}

<div class="container mt-5">
    <div class="filter-container">
        <div class="filter">
            <h4>Фильтр</h4>
            <hr>
            <h5>По жанрам:</h5>

            {% if genre_selected == 0 %}
            <li class="selected"> Все жанры </li>
            {% else %}
            <li><a href="{%url 'booksPage'%}">Все жанры </a></li>
            {% endif %}

            {% for g in genres %}
                {% if g.books__count > 0 %}
                    {% if g.pk == genre_selected %}
                        <li class="selected">{{g.name}} </li>
                    {% else %}
                        <li><a href="{{ g.get_absolute_url }}">{{g.name}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

<!--            <h5>По Авторам:</h5>-->


        </div>
        <div class="books-list">
            <div class="row row-cols-1 row-cols-md-4 row-cols-lg-5 g-4">
                {% for i in books %}
                    <div class="col-6 col-md-6 col-lg-3">
                        <div class="card h-100">
                            {% if i.photo %}
                            <img src="{{i.photo.url}}" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{i.name}}</h5>
                                <p class="card-text">{{i.author}}</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary btn-sm " href="{{ i.get_absolute_url }}">читать пост</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
</div>

{%endblock%}
