{% extends 'messenger/base.html' %}
{% block content %}
{% load static %}
{% load messenger_tags %}


<div class="container">
    <div class="main">
        <div class="title">
            <h1 style="font-size:80px ; font-weight: bold; font-family: inter;">BOOKS FOR ALL</h1>
            <p>Lorem ipsum — классический текст-«рыба». Является искажённым отрывком из философского трактата Марка Туллия
                Цицерона «О пределах добра и зла»,</p>
            <a class="button-reg  btn btn-dark" href="{% url 'registrationPage' %}" > Регистрация</a>
        </div>
        <div class="mainimage">
            <img src="{%static 'messenger/images/mainpic.svg'%}" width="90%">
        </div>
    </div>
</div>
{%endblock%}